.portfolio__filter-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  justify-content: left;
  padding-bottom: 50px;
  margin: 0;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.portfolio__filter-list:not(:last-child) {
  margin-right: 8px;
}
.portfolio__main-portfolio {
  display: block;
}

.card {
  text-decoration: none;
  display: block;
}
